In [729]:
#importing all the necessary library
import pandas as pd

In [730]:
#reading the excel file, here you need to provide the file name 
data = pd.read_excel('data.xlsx')

In [731]:
#viewing the top 5 rows
data.head()

,Name,id,Chapter Tag,Concept Test 1 - score,Concept Test 1 - time-taken (seconds),Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1- wrong,Concept Test 1- skipped,Concept Test 2 - score,...,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,Full Chapter Test 2 - score,Full Chapter Test 2 - time-taken (seconds),Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped
0,Darshan,34,C8S11,4,118,4,4,0,1,1,...,10,6,4,0,6,397,10,6,4,0
1,Durga,35,C8S11,3,886,5,3,2,0,3,...,10,4,6,0,6,539,10,6,4,0
2,Idhaz,36,C8S11,5,112,5,5,0,0,3,...,10,4,6,0,8,583,10,8,2,0
3,Kishore,37,C8S11,1,29,3,1,2,2,-,...,10,4,6,0,0,37,9,0,9,1
4,Mano,38,C8S11,4,242,5,4,1,0,0,...,10,4,6,0,2,657,10,2,8,0

In [732]:
# checking for all the columns in the input file
for i in data.columns.values:
    print(i)

Name
id
Chapter Tag
Concept Test 1 - score
Concept Test 1 - time-taken (seconds)
Concept Test 1 - answered
Concept Test 1- correct
Concept Test 1- wrong
Concept Test 1- skipped
Concept Test 2 - score
Concept Test 2 - time-taken (seconds)
Concept Test 2 - answered
Concept Test 2- correct
Concept Test 2- wrong
Concept Test 2- skipped
Concept Test 3 - score
Concept Test 3 - time-taken (seconds)
Concept Test 3 - answered
Concept Test 3- correct
Concept Test 3- wrong
Concept Test 3- skipped
Concept Test 4 - score
Concept Test 4 - time-taken (seconds)
Concept Test 4 - answered
Concept Test 4- correct
Concept Test 4- wrong
Concept Test 4- skipped
Topic Test 1 - score
Topic Test 1 - time-taken (seconds)
Topic Test 1 - answered
Topic Test 1- correct
Topic Test 1- wrong
Topic Test 1- skipped
Concept Test 5 - score
Concept Test 5 - time-taken (seconds)
Concept Test 5 - answered
Concept Test 5- correct
Concept Test 5- wrong
Concept Test 5- skipped
Topic Test 2 - score
Topic Test 2 - time-taken (seconds)
Topic Test 2 - answered
Topic Test 2- correct
Topic Test 2- wrong
Topic Test 2- skipped
Full Chapter Test 1 - score
Full Chapter Test 1 - time-taken (seconds)
Full Chapter Test 1 - answered
Full Chapter Test 1- correct
Full Chapter Test 1- wrong
Full Chapter Test 1- skipped
Full Chapter Test 2 - score
Full Chapter Test 2 - time-taken (seconds)
Full Chapter Test 2 - answered
Full Chapter Test 2- correct
Full Chapter Test 2- wrong
Full Chapter Test 2- skipped

In [738]:
# making new dataframe for the output file
new_data={'Name':[],
      'Username':[],
      'chapter_tag':[],
      'paper':[],
      'answered':[],
      'correct':[],
      'score':[],
      'skipped':[],
      'time-taken (seconds)':[],
      'wrong':[],
     
     
     }

df=pd.DataFrame(new_data)

df

Empty DataFrame
Columns: [Name, Username, chapter_tag, paper, answered, correct, score, skipped, time-taken (seconds), wrong]
Index: []

In [739]:
print(len(data.columns))

57

# declaration of all the variables

In [740]:
# declaring all the variables used in the code 
list = []
value = 0
real_val=['answered','correct','score','skipped','(seconds)','wrong','Name','id','Tag','test_name']
counter=0
answer = 0 
correct = 0
score = 0
skipped = 0
time_taken = 0
wrong = 0
count = -1
name = 0
ids = 0 
tag = 0
paper = 0
first = 'yes'

# coding part

In [741]:
# coding part
list = []
counter = 0
for y in range(13):
    first ='yes'
    for X in range(7):
        if first == 'yes':
            first='no'
#             print('list1')
            for i in range(9):

    #             print(counter)
                column = data.columns[counter]
            #     print(column)
                a = column.split(' ')
                if real_val[0] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('anser',value)
                    answer = value
                if real_val[1] ==a[-1]:

                    value = data.loc[y].at[column]
#                     print('corr',value)
                    correct = value
                if real_val[2] ==a[-1]:
    #                 print(a[-1])  
                    value = data.loc[0].at[column]
#                     print('score',value)
                    score = value
                if real_val[3] ==a[-1]:
                    value = data.loc[y].at[column]
#                     print('skipped',value)
                    skipped = value
                if real_val[4] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('time take',value)
                    time_taken = value
                if real_val[5] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('wrong',value)
                    wrong = value
                if real_val[6] ==a[0]:         
                    value = data.loc[y].at[column]
#                     print('name',value)
                    name = value
                if real_val[7] ==a[0]:         
                    value = data.loc[y].at[column]
#                     print('id',value)
                    ids = value
                if real_val[8] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('tag',value)
                    tag = value
                if len(a)>2:
                    paper = ''.join(a[0:len(a)-1])
#                     paper = paper[0:len(a)]
                counter+=1 
            list1 = [name,ids,tag,paper,answer,correct,score,skipped,time_taken,wrong]
            df = df.append(pd.DataFrame([list1],columns = df.columns),ignore_index = True)
        else:
#             print('list2')
            for i in range(6):
                counter+=1

    #             print(counter)
                column = data.columns[counter]
                #     print(column)
                a = column.split(' ')
                if real_val[0] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('anser',value)
                    answer = value
                if real_val[1] ==a[-1]:
                    value = data.loc[y].at[column]
#                     print('corr',value)
                    correct = value
                if real_val[2] ==a[-1]:
#                     print('score',value)  
                    value = data.loc[y].at[column]
                    score = value
                if real_val[3] ==a[-1]:

                    value = data.loc[y].at[column]
#                     print('skipped',value)
                    skipped = value
                if real_val[4] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('time take',value)
                    time_taken = value
                if real_val[5] ==a[-1]:         
                    value = data.loc[y].at[column]
#                     print('wrong',value)
                    wrong = value
                if len(a)>2:
                    paper = ''.join(a[0:len(a)-1])
#                     paper = paper[0:len(a)] 
            if counter>43:
                first = 'yes'
                counter = 0
            list2 = [name,ids,tag,paper,answer,correct,score,skipped,time_taken,wrong]
            df = df.append(pd.DataFrame([list2],columns = df.columns),ignore_index = True)

        first = 'no'
# print(counter)

# geting the desired output and saving it

In [742]:
# desired output
df

,Name,Username,chapter_tag,paper,answered,correct,score,skipped,time-taken (seconds),wrong
0,Darshan,34.0,C8S11,ConceptTest1-,4.0,4.0,4.0,1.0,118.0,0.0
1,Darshan,34.0,C8S11,ConceptTest3-,4.0,1.0,4.0,1.0,320.0,3.0
2,Darshan,34.0,C8S11,ConceptTest4-,5.0,4.0,3.0,0.0,199.0,1.0
3,Darshan,34.0,C8S11,TopicTest1-,5.0,3.0,5.0,0.0,161.0,2.0
4,Darshan,34.0,C8S11,ConceptTest5-,10.0,5.0,3.0,0.0,341.0,5.0
...,...,...,...,...,...,...,...,...,...,...
86,Vignesh,47.0,C8S11,ConceptTest4-,5,1,2,0,92,4
87,Vignesh,47.0,C8S11,TopicTest1-,5,2,3,0,127,3
88,Vignesh,47.0,C8S11,ConceptTest5-,10,3,4,0,214,7
89,Vignesh,47.0,C8S11,TopicTest2-,5,4,6,0,53,1
90,Vignesh,47.0,C8S11,FullChapterTest1-,9,6,4,1,84,3

In [744]:
# saving the file as an excel
df.to_excel("new_file.xlsx")